<div style="width: 100%;height: 100vh;" class="d-flex justify-content-center align-items-center">
		<div class="container row d-flex align-items-center border border-2 rounded p-5">
			<div class="col-md-8 d-flex justify-content-center">
				<img src="https://borlabs.io/wp-content/uploads/2019/09/blog-wp-login.png" alt="" class="img-fluid">
			</div>
			<div class="col-md-4 f-flex justify-content-center">
				<form class="mt-5" method="POST" action="">
				  <div class="mb-3">
				    <label for="name" class="form-label">Tên đăng nhập</label>
				    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name">
				  </div>
				  <div class="mb-3">
				    <label for="password" class="form-label">Mật khẩu</label>
				    <input type="password" class="form-control" id="password" name="password">
				    <div id="emailHelp" class="form-text {{type}}" style="color: red;text-align: center">Tài khoản hoặc mật khẩu không chính xác</div>
				  </div>
				  <div class="mb-3 d-flex flex-column">
                    <button class="btn btn-primary" type="submit" id="submit">
                        Đăng nhập
                    </button>
                    <p class="mt-2 d-flex justify-content-center">
                        <a href="/auth/register">Đăng kí</a>
                        <span>, nếu bạn chưa có tài khoản</span>
                    </p>
                </div>
				  
				</form>
			</div>
		</div>
	</div>