<style>
  input[type="file"] {
      display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
</style>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/wallpaper.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread display-3">TechBg</h1>
          </div>
        </div>
      </div>
 </section>
<div class="container p-5">
	<form id="form" method="POST" action="/auth/{{id}}?_method=PUT" enctype="multipart/form-data">
		<div class="row d-flex justify-content-center">
			<h3 class="m-auto">
				Bạn phải hoàn thành thông tin để truy cập web.
			</h3>
		</div>	
		<div class="row mt-5">
			<div class="col-md-4">
				<img src="https://i.stack.imgur.com/l60Hf.png" id="image" alt="" class="rounded img-fluid border border-secondary">
				<div class="d-flex flex-column align-items-center">
					<h4 for="avatar" class="form-label mt-2">Ảnh đại diện</h4>
					<label class="custom-file-upload">
						<input type="file" id="inputImage" name="avatar" value="/upload/user/Default.png">
						Choose File
					</label>
					<div class="form-text d-none" id="emailHelp" style="color: red">
                        Ảnh không hợp lệ
                    </div>
				</div>
			</div>
			<div class="col-md-6 ml-5">
				<div class="mb-3">
				    <label for="name" class="form-label">Tên người dùng</label>
				    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nhập tên người dùng..." name="username">
			  		<div class="form-text d-none" id="emailHelp" style="color: red">
                        Tên người dùng không hợp lệ
                    </div>
				</div>
			  	<div class="mb-3">
				    <label for="sologan" class="form-label">Khẩu hiệu</label>
				    <input type="text" class="form-control" id="sologan" aria-describedby="emailHelp" placeholder="Nhập Khẩu hiệu..." name="sologan">
			  		<div class="form-text d-none" id="emailHelp" style="color: red">
                        Khẩu hiệu không hợp lệ
                    </div>
				</div>
			  	<button id="submit-button" type="submit" class="btn btn-primary">
					Hoàn thành
				</button>
			</div>
		</div>
	</form>
</div>
<script src="/js/registerInf.js"></script>